body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3d1717;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.calculator{
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display{
    padding: 20px;
    font-size: 30px;
    border: none;
    text-align: right;
    background-color: white;
    color: black;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 105px);
}

.btn{
    padding: 20px;
    font-size: 20px;
    border: 1px solid brown;
    background-color: rgb(132, 214, 233);
    color: black;
    cursor: pointer;
}

.equal{
    grid-column: span 3;
    background-color: rgb(13, 114, 215);
}

.btn:hover{
    opacity: 0.8;
}


/* Write CSS code here */